body {
  background-color: LightGrey;

}

.app-container {
  height: 100%;
}

.header {
  text-align: center;
  height: 100px;
  background-color: grey;
}

h1 {
  padding-top: 25px;
}

.footer {
  text-align: center;
  background-color: grey;
  height: 100px;
}
img {
  display: block;
  height: 200px;
  width: auto;
}

.form {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#image {
  width: 600px;
}

#quote {
  width: 600px;
}

#showbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
